/arrayOfStructures
/DSAinC
/functionPointers
/iAndA
/pointer to structure
/programsPractice
/struct2
/struct2.c
/struct2.exe
/structure- designated initialisation
/tempCodeRunnerFile.c
/tempCodeRunnerFile.exe
/typedefStruct
/unionApplication